/************** global **************/

* {
	font-family: sans-serif;
}


/************** body **************/

body {
	background-image: url('http://freqn.aws.af.cm/images/star1.png');
	color: white;
	margin-top: 50px;
}


/************** UI **************/

#wrapper {
	padding: 15px;
	border-radius: 13px;
	-moz-border-radius:13px;
  	-webkit-border-radius:13px;
  	behaviour:url(/PIE/PIE_uncompressed.htc);
	margin: auto;
	box-shadow: 3px 3px 4px #1C1C1C;
	width: 298px;
	background-color:#272727;
	position:relative;
  	top:0;
  	right:0;
  	bottom:0;
  	left:0;
}

#wrapper, form, table, tr, td {
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
	font-weight: bold;
}

header {
	padding-bottom: 5px;
	font-size: 22px;
	color: #F8FBEF;
}


/************** table **************/

table {
	border-spacing: 8px;
	width: 300px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #151515;	
}

td { 
	background-color: orange;
	border: none;
	border-radius: 3px;
	-moz-border-radius:3px;
  	-webkit-border-radius:3px;
  	behaviour:url(/PIE/PIE_uncompressed.htc);
	padding: 3px;
}

tr {
	width: 300px;
	height: 34px;
}

.label {
	letter-spacing: -1px; 
	width: 111px;
	height: 28px;
	box-shadow: inset 1px 1px 3px black;
	-moz-box-shadow: inset 1px 1px 3px black;
	-webkit-box-shadow: inset 1px 1px 3px black;
}


input {
	width: 155px;
	padding-left: 5px;
	height: 24px;
	cursor: text;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	box-shadow: inset 1px 1px 2px black;
	-moz-box-shadow: inset 1px 1px 2px black;
	-webkit-box-shadow: inset 1px 1px 2px black;
	background-color: #F8FBEF;
}

.result_label {
	width: 168px;
	letter-spacing: -1px; 
	box-shadow: inset 1px 1px 3px black;
	-moz-box-shadow: inset 1px 1px 3px black;
	-webkit-box-shadow: inset 1px 1px 3px black;
}

.rfield {
	letter-spacing: -1px; 
	box-shadow: inset 1px 1px 3px black;
	-moz-box-shadow: inset 1px 1px 3px black;
	-webkit-box-shadow: inset 1px 1px 3px black;
}

#profit {
	color: #55881B;
}


/************** button **************/

#button {
	font-size: 28px;
	color: #A9DC16;
	font-weight: bold;
	cursor: pointer;
	width: 265px;
	height: 50px;
	margin: 10px 0;
	background-color: #2E2E2E;
 	box-shadow: 1px 1px 1px #151515;
 	-moz-box-shadow: 1px 1px 1px #151515;
 	-webkit-box-shadow: 1px 1px 1px #151515;
 	border-radius: 5px;
 	-moz-border-radius:5px;
  	-webkit-border-radius:5px;
  	behaviour:url(/PIE/PIE_uncompressed.htc);
 	border: none;
 	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
   	transition:.2s;
    -webkit-appearance: none;
    outline: 0;     
  	outline-style:none;     
  	outline-width:0; 
}

#button:hover {
	box-shadow: 7px 7px 7px #151515;
	-moz-box-shadow: 7px 7px 7px #151515;
	-webkit-box-shadow: 7px 7px 7px #151515;
	background-color: #A9DC16;
	color: #573A00;
	font-weight: bold;
	outline: 0;     
  	outline-style:none;     
  	outline-width:0; 
}

#button:active {
	background-color: #87AE15;
	color: #2D1E00;
	box-shadow: none;
	-o-transition:.05s;
  	-ms-transition:.05s;
  	-moz-transition:.05s;
  	-webkit-transition:.05s;
  	transition:.05s;
  	box-shadow: 3px 3px 3px #151515;
  	-moz-box-shadow: 3px 3px 3px #151515;
		-webkit-box-shadow: 3px 3px 3px #151515;
  	outline: 0;     
  	outline-style:none;     
  	outline-width:0; 
}


/************** bill switcher **************/



#bill_display p {
	color: #F8FBEF;
}

.bill_desc{
	margin-top: 5px;
}

#desc {
	margin: auto;
	margin-top: 18px;
	text-align: center;
	font-size: 14px;
	color: #D8D8D8;
	word-wrap: break-word; width: 290px
}

.bill_display {
	display: none;
	height: 77px;
	width: 188px;
}


/************** nav **************/

nav {
	text-align: center;
	margin-right: 35px;
	margin-top: -9px;
	padding: 0;
}

nav li {
	display: inline;
	text-align: center;
	font-size: 20px;
	padding-right: 8px; 
}

a {
	text-decoration: none;
	color: #585858;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
   	transition:.3s;
}

a:hover {
	color:#81BEF7;
}


/************** footer **************/

footer{ 
	margin: auto;
	margin-top: -9px;
	text-align: center;
	font-size: 12px;
	color: #D8D8D8;
}

/*#date {
	margin-top:-9px;
	color: #585858;
}*/

